*{
    box-sizing: border-box;
}
body{
    padding: 0;
    margin:0;
    display: flex;
    justify-content: center;
    width:1000px;
    height: 1000px;
    background:linear-gradient(to right,red,orange);

}
#container{
    width:800px;
    height:600px;
    background-color:black;
    border-radius: 5px;
    padding: 10px;
    margin:10px;
}
#question{
    width:750px;
    background-color: grey;
    color:white;
    height:250px;
    margin-top:10px;
    margin-left: 10px;
    font-size:50px;
    display:flex;
    justify-content: center;
    align-items: center;
}
#start-button,#next-button,#score,#submit{
    font-size: 15px;
    font-weight: bold;
    padding:15px;
    margin:5px 15px;
}
#answer{
    width:750px;
    background-color:grey;
    color:white;
    height:200px;
    margin-bottom:10px;
    margin-left: 10px;
    font-size:20px;
    padding-left:50px;
    margin-top:-20px;
}
.button-grid1,#button-grid2{
    border:0px;
    border-radius: 5px;
    padding:25px;
    margin:15px;
    font-size: 15px;
    font-weight: bold;
    color:black;
    outline:none;
    background-color:white;
    width:100px;
    height:70px;
}
.hide{
    display:none;
}
ul{
    list-style-type: none;
}